# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next.js
/.next/
/out/
/build
next-env.d.ts

# production
/dist

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env (resend api key etc.)
.env
.env.local
.env*.local

# vercel
.vercel

# editor / OS
.idea
.vscode/*
!.vscode/extensions.json
Thumbs.db
